body {
  font-family: 'Roboto', sans-serif;
  background-color: #FAFAFA;
}

.pagecontent {
  width: 935px;
  margin: 0 auto;
}

/* Config barra topo */
.topbar {
  background-color: #FFFFFF;
  height: 54px;
  border-bottom: solid 1px #DBDBDB;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

.nav-mobile-display {
  display: none;
}

.nav-mobile {
  height: 54px;
  border-bottom: solid 1px #DBDBDB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
}

.fix-bottombar-mobile {
  height: 54px;
  border: solid 1px #DBDBDB;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.fix-bottombar-mobile-display {
  display: none;
}

/* config barra navegação */
nav {
  /* background-color: darkgoldenrod; */
  display: flex;
  justify-content: space-between;
}

/* botões esquerda barra navegação */
.left-bottons {
  width: 143.63px;
  display: flex;
  justify-content: space-between;
}

.separador-vertical {
  height: 22px;
  width: 1px;
  background-color: #DBDBDB;
  margin: auto 0;
}

/* tamanho icones barra navegação */
.icon-instagram {
  font-size: 22px;
  color: #000000
}

/* config posicionamento icones esquerda barra navegação */
.icon {
  margin: auto 0;
}

.logo {
  margin-top: 15px;
  margin-bottom: 10px;
}

/* barra pesquisar barra navegação */

.search-bar {
  width: 215px;
  height: 28px;
  margin: auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #FAFAFA;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  width: 215px;
  height: 28px;
  text-align: center;
}

input:focus {
  outline: transparent;
}

input:focus::placeholder {
  color: transparent;
}

.pesquisar {
  color: #979797
}

/* botões direita barra navegação */
.right-bottons {
  width: 143.18px;
  margin: auto 0;
}

/* config posicionamento icones direita barra navegação */
.icons {
  display: flex;
  justify-content: space-between;
}

/* area de postagem + area de sugestões */
.body-instagram {
  display: flex;
  justify-content: space-between;
  margin-top: 88px;
}

/* area stories */
.stories-area {
  background-color: #FFFFFF;
  Width: 614px;
  Height: 118px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.story-background-one {
  margin-left: 18px;
  margin-right: 14px;
  width: 66px;
  height: 66px;
  /* centralizando imagem no background */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* config background story */
.story-background {
  width: 66px;
  height: 66px;
  margin-right: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.background-img {
  width: 66px;
  height: 66px;
}

.img-backgroud {
  width:100% ;
}

.seta {
  position: absolute;
  margin-left: 579px;
}

.storie-seta {
  width: 32px;
  height: 32px;
  color:#FFFFFF;

}

/* config div imagem story */
.img {
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
}

/* config img story */
.story-img {
  width: 56px;
  height: 56px;
}

/* config textos stories */
.txt-story {
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
}

/* area dos posts das páginas */
.first-post-area {
  background-color:#FFFFFF;
  Height: 749px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin-top: 24px;
}

.other-areas {
  background-color:#FFFFFF;
  Height: 749px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  margin-top: 60px;
}

.other-areas:last-child {
  margin-bottom: 80px;
}

/* barra acima dos post do instagram */
.top-instagrampost {
  background-color: #FFFFFF;
  height: 60px;
  border-bottom: 1px solid #EFEFEF;
  display: flex;
  align-items: center;
}

.profile-name {
  font-weight: 500;
  font-size: 14px;
}

.profile-post-image {
  margin-right: 15px;
  margin-left: 17px;
}

.profile-img-post {
  width: 32px;
  height: 32px;
}
.bottom-instagrampost {
  /* background-color:deeppink; */
  height: 76px;
}

/* config posicionamento imagens dos posts do instagram */
.img-instagrampost {
  height: 612px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-postinsta {
  width: 612px;
  height: 612px;
}

.bottom-instagrampost {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.buttons-bottom {
  display: flex;
  justify-content: space-between;
}

.left-buttons-post {
  width: 101.93px;
  display: flex;
  justify-content: space-between;
  margin-left: 17.75px;
}

.right-buttons-post {
  margin-right: 17.62px;
}

.likes {
  display: flex;
  align-items: center;
  margin-left: 17px;
}

.like-img {
  margin-right: 5px;
}
.sidebar {
  width: 293px;
  background-color: #FAFAFA;
  position: sticky;
  top: 80px;
}

.profile-sugestion {
  height: 95px;
  margin-top: 23px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.img-profile-sugestion {
  margin-right: 17px;
}

.txt-profile-suggestion {
  width: 182px;
  height: 34px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.profile {
  display: flex;
  align-items: center;
}

.txt-suggestion-1 {
  font-weight: 500;
  font-size: 14px;
}

.txt-suggestion-2 {
  font-weight: 300;
  font-size: 14px;
  color: #8E8E8E;
}

.suggestion {
  display: flex;
  justify-content: space-between ;
}

.profiles-follow {
  display: flex;
  justify-content: space-between ;
  align-items: center;
}

.suggestion-for-you-txt {
  font-size: 12px;
  font-weight: 500;
  color: #8E8E8E
}

.view-all-txt {
  font-size: 12px;
  font-weight: 500;
  color: #262626
}

.profiles {
  display: flex;
  align-items: center;
}

.txt-profiles-suggestion {
  width: 182px;
  height: 34px;
  background-color: #FAFAFA;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profiles-img {
  width: 32px;
  height: 32px;
}

.img-profiles-sugestion {
  margin-right: 11px;
}

.txt-profiles-1 {
  font-size: 14px;
  font-weight: 500;
  color:#262626;
}

.txt-profiles-2 {
  font-size: 12px;
  font-weight: 400;
  color:#8E8E8E;
}

.profiles-follow {
  margin-top: 17px;
}

.follow-txt {
  font-size: 12px;
  font-weight: 500;
  color: #139EF2;
}

.help-links {
  margin-top: 33px;
  height: 42px;
  background-color: #FAFAFA;
  
}

.link-help {
  font-size: 11px;
  font-weight: 400;
  color:#C7C7C7;
  word-wrap: break-word;
}

.company {
  height: 14px;
  background-color:#FAFAFA;
  margin-top: 18px;
}

.txt-company {
  font-size: 11px;
  font-weight: 400;
  color:#C7C7C7;
}

.person-outline {
  margin-right: 17.06px;
}

.icon-instagram-mobile-home {
  margin-left: 19.69px;
}

.icon-instagram-mobile-top {
  margin-left: 21.37px;
}

.paper-plane-icon-top {
  margin-right: 22.06px;
}


@media (max-width: 935px) {
  .topbar {
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .nav-desktop {
    margin-left: 21.38px;
    margin-right: 18.06px;
  }
  .instagramcontent {
    margin: 0 auto;
  }
}

@media (max-width: 614px) {
  body {
    background-color: #FAFAFA
;
  }

  .topbar {
    display: none;
  }

  .nav-mobile-display {
    display: block;
  }

  .fix-bottombar-mobile-display {
    display: block;
  }

  .pagecontent {
    width: 100%;
  }

  .seta {
    display: none;
  }
  
  .stories-area {
    border: none;
    background-color: #FAFAFA
;
  }

  .body-instagram {
    display: flex;
    justify-content: space-between;
    margin-top: 49px;

}
}